.body {
    margin-bottom: 30px;
    text-align: start;
    overflow-y: auto;

    button {
        font-family: 'Sen' !important;
        font-style: normal !important;
        font-weight: 700 !important;
        font-size: 20px !important;
        padding: 20px !important;
        color: #000 !important;
        background-color: #fff !important;
        box-shadow: none !important;
    }

    .acardionItem {

        .itemInput {
            display: flex;
            align-items: center;
            gap: 10px;

            input {
                width: 15px !important;
                height: 15px !important;
                box-shadow: none !important;
            }

            input:checked {
                background: #C69136 !important;
                border-color: #C69136 !important;
            }
        }

        .itemRegion {
            font-size: 16px;
            margin-left: 40px;
        }

    }

    .itemRegion:not(:last-child),
    .item:not(:last-child) {
        margin-bottom: 20px;
    }
}

@media (max-width: 990px) {
    .body {
        width: 50%;

        button {
            display: block !important;
            padding: 0 !important;
            color: #fff !important;
            background: none !important;
        }

        // button::after {
        //     content: '>' !important;
        //     margin-left: 30px;
        //     color: #fff !important;
        // }

        .acardionItem {
            border: none !important;
            background: none !important;

            .itemInput,
            .itemRegion {
                color: #fff !important;
            }
        }
    }
}

@media (max-width: 570px) {
    .body {
        width: 100%;
    }
}