.canvas {
    color: #fff !important;
    background-color: #363535 !important;
    height: 100% !important;

    .acardion {
        display: flex;
    }
}

@media (max-width: 570px) {
    .canvas {
        .acardion {
            flex-direction: column;
        }
    }
}