.jobs {
    font-family: 'Sen';
    font-size: 20px;
    background: #1E252C;
    padding: 0 0 100px 0;

    .body {
        display: flex;
        justify-content: space-between;

        .menuIcon {
            display: none;
        }

        .forms {
            width: 27%;
            display: flex;
            flex-direction: column;

            .swiper {
                border-radius: 10px;

                img {
                    object-fit: cover;
                    width: 100%;
                }
            }
        }

        .swiper990 {
            display: none;
        }
    }
}

@media (max-width: 990px) {
    .jobs {
        .body {
            display: block;

            .menuIcon {
                display: block;
                font-size: 40px;
                margin-bottom: 20px;
                color: #fff
            }

            .forms {
                display: none;
            }

            .swiper990 {
                display: block;
                margin-bottom: 30px;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 350px;
                }
            }
        }
    }
}

@media (max-width: 770px) {
    .jobs {
        .body {
            .menuIcon {
                font-size: 35px;
            }

            .swiper990 {
                margin-bottom: 20px;
            }
        }
    }
}