.car {
    font-family: 'Inter';
    font-size: 20px;
    text-align: start;
    height: 100%;
    color: #000;
    background: #1E252C;
    padding: 0 0 100px 0;

    .body {
        display: flex;
        justify-content: space-between;

        .similar {
            width: 32%;
            display: flex;
            flex-direction: column;
        }

        .similar>div {
            background: #fff;
            border-radius: 5px;
        }
    }
}

@media (max-width: 990px) {
    .car {
        padding: 0 0 80px 0;

        .body {
            display: block;

            .similar {
                width: 100%;
                padding-top: 30px;
                flex-direction: column-reverse;
            }
        }
    }
}

@media (max-width: 770px) {
    .car {
        text-align: center;
    }
}

@media (max-width: 570px) {
    .car {
        padding: 0 0 30px 0;
    }
}