.navbar {
    font-size: 20px;
    font-family: 'Imprima';
    min-height: 80px;

    .logo {
        display: flex;
        align-items: center;
        font-size: 24px;
        color: #02081E;
        margin-right: 50px;

        span {
            margin-left: 5px;
        }
    }

    .logo:hover {
        color: #02081E;
    }

    .search {

        .searchInput {
            min-width: 450px;
            min-height: 50px;
            margin-right: 100px;
            padding: 5px;
            background: rgba(217, 217, 217, 0.7);
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.06);
            border-radius: 6px;
        }

        .searchInput::placeholder {
            padding-left: 60px;
            color: rgba(0, 0, 0, 0.5);
        }

        .icon {
            transform: translateX(50px) translateY(-3px);
            color: rgba(0, 0, 0, 0.5);
        }
    }

    .menuItem {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 700;
        padding: 0 15px;
        text-transform: capitalize;
        color: #010101;
        margin-right: 60px;
        box-shadow: '0px 0px 10px #D38724',
    }

    .menuItem:hover {
        color: #010101
    }

    .user {
        padding-right: 60px;
    }
}

@media (max-width: 1410px) {
    .navbar {
        .search {
            .searchInput {
                min-width: 400px;
                margin-right: 80px;
            }
        }

        .menuItem {
            margin-right: 15px !important;
        }

        .user {
            padding-right: 30px;
        }
    }
}

@media (max-width: 1200px) {
    .navbar {
        .search {
            .searchInput {
                min-width: 300px;
                margin-right: 60px;
            }
        }

        .menuItem {
            padding: 0 15px;
        }

        .user {
            padding-right: 30px;
        }
    }
}

@media (max-width: 990px) {
    .navbar {
        min-height: 56px;

        .search {
            position: relative;
            top: 10px;
            padding-bottom: 10px;

            .searchInput {
                width: 100%;
                margin-right: 0 !important;
                margin-bottom: 5px;
            }

            .icon {
                position: absolute;
                top: 20px;
                left: -20px;
            }
        }

        .menuItem {
            display: block !important;
            text-align: start !important;
            font-weight: 400 !important;
            box-shadow: none !important;
            color: #010101 !important;
            background: none !important;
            padding: 0 0 5px 0;
        }

        .user {
            display: flex !important;
            justify-content: space-between !important;
            align-items: center !important;
            margin: 0 !important;
            padding-bottom: 5px;
        }

        .languages {
            width: 5%;
            text-align: start !important;
        }
    }
}