.body {
    padding: 20px;
    text-align: start;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 30px;

    .itemInput {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 0;

        input {
            width: 15px !important;
            height: 15px !important;
            box-shadow: none !important;
        }

        input:checked {
            background: #C69136 !important;
            border-color: #C69136 !important;
        }
    }

    .item:not(:last-child) {
        margin-bottom: 22px;
    }

    .item:last-child {
        padding-top: 15px;
        border-top: 1px solid #00000080;
    }
}

@media (max-width: 990px) {
    .body {
        display: flex;
        gap: 30px;
        padding: 0;
        color: #fff;
        background: none;
        border: none;
        margin-bottom: 10px;

        .item:not(:last-child) {
            margin-bottom: 0;
        }

        .item:last-child {
            padding-top: 0;
            border: none;
        }
    }
}

@media (max-width: 600px) {
    .body {
        flex-wrap: wrap;
        gap: 0;

        .item {
            flex: 0 1 50%;
            margin: 0 0 10px 0 !important;
        }

    }
}