.info {
    width: 63%;
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
    border-radius: 10px;
    background: #fff;

    .swiper {
        width: 100%;
        height: auto;

        img {
            width: 100%;
            height: 450px;
            object-fit: cover;
        }
    }

    .description {
        padding-top: 30px;

        .header {

            p {
                margin-bottom: 20px;
                color: rgba(0, 0, 0, 0.8);
            }

            .price {
                font-size: 40px;
                color: #F7A212;
            }
        }

        .main {
            padding: 26px 0;
            margin-left: 16px;

            h4 {
                font-weight: 600;
            }

        }

        .main div:not(:last-child) {
            margin-bottom: 24px;
        }

        .main div:first-child {
            li {
                font-weight: 900;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }

        .main div:last-child {
            height: 400px;
        }

        .footer {
            display: flex;
            justify-content: space-between;
            padding: 10px 16px;
        }
    }
}

@media (max-width: 1200px) {
    .info {
        padding: 40px;

        .description {
            .footer {
                flex-wrap: wrap;
                padding: 10px 0;
            }
        }

        .description div {
            margin-right: 10px;
        }
    }
}

@media (max-width: 990px) {
    .info {
        width: 100%;
    }
}

@media (max-width: 770px) {
    .info {
        .swiper {
            img {
                height: 300px;
            }
        }
    }
}

@media (max-width: 570px) {
    .info {
        .swiper {
            img {
                height: 170px;
            }
        }

        .description {
            .main div ul {
                padding: 0 0 0 10px;
            }

            .main div:last-child {
                height: 400px;
                overflow-x: hidden;
            }
        }
    }
}